<div class ="col-10 offset-1 about">
  <h1>About Splurty</h1>

<!-- <p>
Teddy Castro is a Massachusetts 2018 Teach For America Corps Member looking to transition into programming. He graduated from the University of San Diego with a double major in Economics and English, with an emphasis in Creative Writing and continued his education at Boston University to receive an Ed.M
</p> -->

<div class="row">
  <div class="col-6 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'teddy.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-6 col-sm-6" style="padding-top:30px;" >
    <h2 class="text-center">Teddy Castro</h2>
    <br />
    <p class="text-center">
      Teddy Castro is a Massachusetts 2018 Teach For America Corps Member looking to transition into programming. He graduated from the University of San Diego with a double major in Economics and English, with an emphasis in Creative Writing and continued his education at Boston University to receive an Ed.M
    </p>
  </div>
</div>
<br class="clear" />

</div>


<br class="clear" />
<br />
<br />
<br />
<br />