<div class ="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
  Hey, I built this--Teddy Castro! How exciting~! I wonder what the br thing does..? Well, let's type a bunch more and figure it out!
<br />
<p>
  This is the second paragraph in my about page~! I think I should try extending this one too. Testing. Test. Testing. Okay?
</p>
<p>
  I think this is the third paragraph..? Shnazzzzzzy~!
</p>

<div class="row">
  <div class="col-6 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'teddy.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-6 col-sm-6 offset-sm-4" style="padding-top:30px;" >
    <h2 class="text-center">Teddy Castro</h2>
    <br />
    <p class="text-center">
      Teddy Castro is an aspiring human being who currently resides in New Bedford, MA where he is a part of the Teach For America program. He likes food.
    </p>
  </div>
</div>
<br class="clear" />

</div>


<br class="clear" />
<br />
<br />
<br />
<br />